index,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Open Sans, Arial, sans-serif;
}

h1 {
    margin-top: 50px;
    margin-left: 70px;
    color: rgb(83, 83, 83);
}

/* header */
header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    top: 0;
    margin: 0;
    width: 100%;
    height: 70px;
    color: rgb(83, 83, 83);
    transition: 0.3s;
}

header:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

header figure {
    margin: 0;
    left: 50px;
    bottom: 20px;
}

header img {
    position: absolute;
    width: 120px;
    height: 60px;
    bottom: 5px;
    left: 50px;
}

header div {
    position: absolute;
    right: 50px;
    bottom: 20px;
}

/* Form */

#singInWith {
    margin: 50px;
}

#singInWith span {
    margin-left: 20px;
}

#singInWith button:hover {
    cursor: pointer;
}

.facebookButton {
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;	
	padding:9px 42px;
	text-decoration:none;
}
.facebookButton:hover {
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	background-color:#5972a7;
}
.facebookButton:active {
	position:relative;
	top:1px;
}

.googleButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;	
	background-color:rgb(66, 133, 244);
	border-radius:3px;
	border: 2px solid rgb(66, 133, 244);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;	
	padding:9px 42px;
	text-decoration:none;
	
}
.googleButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.googleButton:active {
	position:relative;
	top:1px;
}
        

form {
    margin-left: 50px;
}

form legend {
    margin: 20px 20px 20px 6px;
    color: rgb(83, 83, 83);
}

fieldset {
    border-width: 0px;
}

fieldset input {
    margin: 10px;    
    width: 30%;
    height: 30px;    
    transition: 0.3s;
}

fieldset label {
    margin: 10px;
    display: block;
    font-weight: bold;
    color: rgb(83, 83, 83);
}

a {
    text-decoration: none !important;
    color: rgb(0, 89, 255);
}

#divTerms {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

footer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    transition: 0.3s;
}

footer:hover{
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.2);
}

footer ul {
    list-style-type: none;
}

footer li {
    float: left;
}

footer a {
    display: block;
    margin-left: 20px;
    color:rgb(83, 83, 83);
}

#buttonCreateAccount {
    margin-left: 20px;
    background-color: transparent!important;
    border: 2px dashed #d6d6d6!important;
    border-radius:28px;
    color: #bbb!important;    
    padding : 15px;
}

#buttonCreateAccount:hover{
    cursor: pointer;
}