html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;   
    display: flex;
    flex-direction: column;  
    align-content: space-between;   
    font-size: 16px;
}

.container {        
    margin: 0.8rem;    
    height: fit-content;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.card {
    margin: 0.8rem; /* ¿Como hacer que no se solapen verticalmente sin usar margin?*/
    background-color: rgba(255, 0, 0, 0.452);
    height: 210px;
    width: 150px;    
    font-size: 0.8rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;    
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;    
}

.card:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding:1em
}

.card-img {    
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

.card-info {
    margin: 5px; 
    background-color: rgba(255, 0, 0, 0.452);   
    font-size: 0.8rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;    
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;    
}




.section-cars {
    background-color: rgba(255, 255, 0, 0.37);
}

.section-services {
    background-color: rgba(0, 110, 255, 0.37);
}

.section-information {
    background-color: rgba(0, 255, 0, 0.37);
}

footer .container {
    background-color: rgba(117, 117, 117, 0.801);
}

.container-links {
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-start;
    height: fit-content;
    background-color: rgba(117, 117, 117, 0.582);
}

.link-column {
    font-size: 0.8rem;
    display: flex; 
    flex-direction: column;    
}

@media (min-width: 576px) {
    html, body {
        font-size: 14px;
    }
 }
 @media (min-width: 768px) {
    
 }
 @media (min-width: 992px) {
    
 }
 @media (min-width: 1200px) {
    
 }